.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: pulse 1.5s infinite;
  z-index: 1000;
  border: none;
}

.whatsapp-button img {
  width: 45px;
  height: 45px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.whatsapp-dialog {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 250px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.whatsapp-header {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color: #25d366;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.text-whatsapp {
  padding-right: 30%;
  color: white;
  display: flex;
  text-align: justify;
  font-size: larger;
  margin-top: 8px;
}

.iconWhatsapp {
  width: 15%;
  margin-right: 10px;
}

.close-dialog {
  background: rgba(249, 245, 245, 0.6);
  height: 25px;
  width: 25px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.whatsapp-message {
  position: relative;
  background-color: #e5e5ea;
  padding: 15px;
  border-radius: 15px;
  max-width: 200px;
  word-wrap: break-word;
  margin: 0px;
  text-align: justify;
  color: rgb(66, 66, 66);
}

.whatsapp-message::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 0;
  height: 25px;
  border: 10px solid transparent;
  border-top-color: #e5e5ea;
  border-right: 10px;
  border-bottom: 10px;
  margin-top: 0px;
  margin-left: 0px;
}

.openChatButton {
  margin-top: 10px;
  align-self: center;
  width: 100%;
  padding: 10px;
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.openChatButton:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.715);
}

@media (max-width: 768px) {
  .openChatButton {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.715);
  }
  .whatsapp-button {
    width: 60px;
    height: 60px;
    bottom: 15px;
    right: 15px;
  }
  .whatsapp-button img {
    width: 35px;
    height: 35px;
  }
  .whatsapp-dialog {
    width: 220px;
    right: 15px;
  }
}